In [1]:
import pandas as pd

In [5]:
psg_players = pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'],
            index = [1, 7, 10, 30]
            )

# pd.Series es un arreglo unidimensional indexado, tambuén podemos hacer slicing 
# sin el index, los indices serían 0, 1, 2, 3
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [6]:
dict = {1: 'Navas', 7: 'Mbappe', 10: 'Neymar', 30: 'Messi'}
pd.Series(dict)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [7]:
psg_players[1]

'Navas'

In [8]:
psg_players[0: 3] # slicing

1      Navas
7     Mbappe
10    Neymar
dtype: object

In [10]:
dict_1 = {'Jogador':['Navas', 'Mbappe', 'Neymar', 'Messi'],
    'Altura':[183.0, 170.0, 170.0, 169.0],
    'Goles':[2, 100, 120, 50]
    }

pd.DataFrame(dict_1, index = [1, 7, 10, 30])   # de nuevo sin index por default sera 0, 1, 2, 3

# dataframes es un objeto hecho de arrays en estilo matricial, row con index y column con index

   Jogador  Altura  Goles
1    Navas   183.0      2
7   Mbappe   170.0    100
10  Neymar   170.0    120
30   Messi   169.0     50

In [11]:
df_players = pd.DataFrame(dict_1)
df_players.columns

Index(['Jogador', 'Altura', 'Goles'], dtype='object')

In [12]:
df_players.index

RangeIndex(start=0, stop=4, step=1)